* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #a7a6a6;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    margin-bottom: 15px;
}
.menu li {
    width: 100%;
    list-style: none;
    background: #385443; 
    position: relative;
}
  
.menu p {
  color: #7786db;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0 50px;
  height: 60px;
  line-height: 60px;
  transition: all .5s;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 50px;
    height: 60px;
    line-height: 60px;
    transition: all .5s;
}
.menu a:hover {
    background: #859c7f;
    color: #118064;
}
.menu a:active {
    background: #859c7f;
    color: #083d30;
}

.contact {
  margin-top: 7%;
}

.contact h1 {
    margin-left: 36%;
    color: #fff;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-left: 120px;
    color: #86898f;
  }
  
  .form-group input,
  .form-group textarea {
    margin-left: 120px;
    margin-right: 60px;
    margin-bottom: 20px;
    width: 70%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border: 3px solid #ccc;
    background-color: #fff;
    color: #000;
    padding: 10px 0 10px;
    outline: none;
    font-family: inherit;
    font-size: 17px;
  }
  
  .row {
    display: flex;
  }
  
  .row > .form-group {
    width: 41%;
  }
  
  .row > .form-group:last-child {
    margin-right: 0;
  }
  
  .btn {
    background: #363434;
    padding: 15px 20px;
    color: #fff;
    border: none;
    margin-left: 40%;
    font-family: inherit;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.9;
  }